{{define "auth/signup"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">		
  <div class="panel panel-default">
    <div class="panel-body">
      <form method="post" class="form-horizontal" data-parsley-validate>
      <fieldset>

        <legend>Регистрация в системе</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}
        {{.csrfField}}
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Эл. почта</label>  
          <div class="col-md-6">
            <input id="email" name="email" type="email" placeholder="Введите адрес эл. почты" class="form-control input-md" required="" data-parsley-required-message="Необходимо ввести адрес эл. почты">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Пароль</label>
          <div class="col-md-6">
            <input id="password" name="password" type="password" placeholder="Введите пароль" class="form-control input-md" required="" data-parsley-required-message="Необходимо указать пароль">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="passwordrepeat">Повтор пароля</label>
          <div class="col-md-6">
            <input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="Повторите пароль" class="form-control input-md" required="" data-parsley-required-message="Необходимо повторить свой пароль" data-parsley-equalto="#password" data-parsley-equalto-message="Пароли не совпадают">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="signup"></label>
          <div class="col-md-4">
            <button id="signup" name="signup" class="btn btn-primary">Зарегистрировать</button>
          </div>
        </div>

      </fieldset>
      </form>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
