{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Blog rss" href="/rss" />
    <link href="/public/favicon.ico" rel="icon" type="image/x-icon">

    <link href="/public/css/app.css" rel="stylesheet">
    <script src="/public/js/vendor.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="admin-body">
    <div id="main-container" class="container-fluid">
			<div id="admin-app"></div>

      <div id="footer" class="full-width">
        <div class="text-muted">&copy; 2017 "Вечная Память".</div>
      </div>
    </div> <!-- #main-container -->
    <script src="/public/js/app.js"></script>
  </body>
</html>
{{end}}
