{{define "comments/public-form"}}
  <section id="comment-form-wrapper">
    <form method="post" action="/new_comment" data-parsley-validate>
      <fieldset>
        <legend class="text-center">Задать вопрос или написать комментарий</legend>
        {{.csrfField}}
        <input type="hidden" name="article_id" value="{{.Article.ID}}" >

        <div class="form-group">
          <textarea id="textarea-comment" class="form-control" name="content" id="content" required data-parsley-required-message="Укажите текст вопроса/комментария"></textarea>
        </div>

        <div id="comment-hidden">

          <div class="form-group">
            <label class="control-label" for="author_name">Представьтесь, пожалуйста</label>
            <input id="author_name" name="author_name" placeholder="Ваши Ф.И.О." required="" class="form-control input-md" data-parsley-required-message="Укажите свое имя">
          </div>

          <div class="form-group">
            <label class="control-label" for="author_email">Эл. почта для обратной связи</label>
            <input type="email" id="author_email" name="author_email" placeholder="Ваш адрес эл. почты" class="form-control input-md" >
          </div>

          <div id="captcha-form-group" class="form-group">
            <label class="control-label" for="captcha-slider">Подтвердите, что вы не робот, передвиньте ползунок вправо</label>
            <div id="captcha-wrapper">
              <div id="captcha-slider"></div>
              <i id="ok-sign" class="glyphicon glyphicon-ok-circle"></i>
              <input type="hidden" id="captcha" name="captcha" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <input id="submit-with-captcha-btn" type="submit" class="btn btn-primary" value="Отправить" >
        </div>
      </fieldset>
    </form>
  </section>
{{end}}
