{{define "advantages"}}
<section id="advantages">
  <h2 class="text-center">Наши Преимущества</h2>
  <hr class="divider" />
  <div class="row-fluid">
    <div class="col-sm-3 text-center">
      <div class="icon"><span class="fa fa-clock-o"></span></div>
      <h5>Быстрое изгтовление</h5>
      <hr class="divider divider-xs" />
      <p>Профессиональный коллектив с многолетним опытом работы выполнит заказы любой сложности в минимальное время</p>
    </div>
    <div class="col-sm-3 text-center">
      <div class="icon"><span class="fa fa-money"></span></div>
      <h5 class="highlight">Самые низкие цены</h5>
      <hr class="divider divider-xs" />
      <p>Работа с прямыми поставщиками материала, отсутствие субподряда позволяют предлагать самые низкие цены в регионе</p>
    </div>
    <div class="col-sm-3 text-center">
      <div class="icon"><span class="fa fa-truck"></span></div>
      <h5>Доставка</h5>
      <hr class="divider divider-xs" />
      <p>Осуществляет доставку наших изделий до места монтажа самостоятельно, предварительно согласовав дату по телефону</p>
    </div>
    <div class="col-sm-3 text-center">
      <div class="icon"><span class="fa fa-wrench"></span></div>
      <h5>Монтаж и обслуживание</h5>
      <hr class="divider divider-xs" />
      <p>Проводим качественный монтаж с учетом требований окружающей среды и послепродажное обслуживание продукции</p>
    </div>
  </div>
</section>
{{end}}
