{{define "navbar"}}
<div id="navbar-main" class="full-width navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<a class="navbar-brand" href="/">Вечная память</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      {{range mainMenu}}
      <li class="{{.CssClass}}">
        <a href="{{.URL}}">{{.Title}}</a>
      </li>
      {{end}}
		</ul>
		<ul class="nav navbar-nav navbar-right">
      {{if .Authenticated}}
      <li>
        <a href="/admin"><i class="fa fa-cog"></i>Панель управления</a>
      </li>
      <li>
        <a href="/logout"><i class="fa fa-sign-out"></i>Выйти</a>
      </li>
			{{else}}
      <li>
        <a class="btn btn-default" href="/signin"><i class="fa fa-sign-in"></i>Войти</a>
      </li>
      <li>
        <a href="/signup"><i class="fa fa-user"></i>Регистрация</a>
      </li>
      {{end}}
    </ul>
  </div><!--/.nav-collapse -->
</div>

{{end}}
